<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Student dashboard</h1>
    </div>

    <div class="settings2">
        <p>option menu</p>
        <button>option1</button>
        <button>option2</button>
        <button>option3</button>
        <button>option4</button>
      </div>
</body>
</html>
